body {
    margin: 0;
}

img.fill {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 600px) {
    img.mobile {
    }
    img.desktop {
        display: none;
    }
}

@media screen and not (max-width: 600px) {
    img.mobile {
        display: none;
    }
    img.desktop {
    }
}